<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.user.mapper.CaptchaTypeMapper" >
  <resultMap id="BaseResultMap" type="com.pq.user.entity.CaptchaType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="sms_template_id" property="smsTemplateId" jdbcType="BIGINT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_captcha_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.user.entity.CaptchaType" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_captcha_type (type_name, type_code, sms_template_id, 
      updated_time, created_time)
    values (#{typeName,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{smsTemplateId,jdbcType=BIGINT}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.user.entity.CaptchaType" >
    update pq_captcha_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      sms_template_id = #{smsTemplateId,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, type_name, type_code, sms_template_id, updated_time, created_time
    from pq_captcha_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, type_name, type_code, sms_template_id, updated_time, created_time
    from pq_captcha_type
  </select>
</mapper>