<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.user.mapper.UserDynamicPraiseMapper" >
  <resultMap id="BaseResultMap" type="com.pq.user.entity.UserDynamicPraise" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dynamic_id" property="dynamicId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_user_dynamic_praise
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.user.entity.UserDynamicPraise" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_user_dynamic_praise (dynamic_id, user_id, name, 
      state, created_time, updated_time
      )
    values (#{dynamicId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.user.entity.UserDynamicPraise" >
    update pq_user_dynamic_praise
    set dynamic_id = #{dynamicId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, dynamic_id, user_id, name, state, created_time, updated_time
    from pq_user_dynamic_praise
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, dynamic_id, user_id, name, state, created_time, updated_time
    from pq_user_dynamic_praise
  </select>

  <select id="selectByDynamicId" resultMap="BaseResultMap" >
    select id, dynamic_id, user_id, name, state, created_time, updated_time
    from pq_user_dynamic_praise
    where dynamic_id = #{dynamicId}
    and state = 1
    order by created_time asc
  </select>

  <select id="selectByDynamicIdAndUserId" resultMap="BaseResultMap" >
    select id, dynamic_id, user_id, name, state, created_time, updated_time
    from pq_user_dynamic_praise
    where dynamic_id = #{dynamicId}
    and state = 1
    and user_id = #{userId}
  </select>
</mapper>